.room-card {
    -fx-background-color: white;
    -fx-border-radius: 20;
}

.menu-button {
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-focus-traversable: false;
    -fx-min-height: 70;
    -fx-pref-width: 500;
}

.menu-button:hover {
    -fx-background-color: #f0f0f0;
}