* {
    -fx-focus-traversable: false;
}
.room-card {
    -fx-background-radius: 10;
    -fx-background-color: #D2D2D2;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.2, 5, 5);
}

.menu-button {
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-focus-traversable: false;
    -fx-min-height: 60;
    -fx-pref-width: 500;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: black;
    -fx-cursor: hand;
}

.menu-button:hover {
    -fx-background-color: #f0f0f0;
}

.primary-button {
    -fx-background-color:  #CC1631;
    -fx-text-fill: white;
    -fx-background-radius: 7;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.2, 5, 5);
    -fx-cursor: hand;
}

.secondary-button {
    -fx-background-color:  white;
    -fx-text-fill: black;
    -fx-background-radius: 7;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.2, 5, 5);
    -fx-cursor: hand;
}